@import "bootstrap";

/* Hartl pg 177 - has you add the line above, and the stuff
below to customize Twitter bootstrap. lbelater - where it the import
bootstrap stored for you to be able to import it?
*/

/* There are a lot of changes that can be done to convert the css
into scss. Note that you do not HAVE to make the changes and this
custom.css.scss file can have pure css syntax and still work!
I have put the old code at the bottom for easy comparison
*/

/* mixins, variables, etc. */
/* sass allows use of a variable name, for example replace
Also made changes below where the color #999 was referred to
but Twitter Bootstrap framework defines variables for colors, available online
on the Bootstrap page of LESS variables. (Google Twitter Boostrap variables
or look at this link: http://bootstrap.lesscss.ru/less.html. This is for the
LESS version of bootstrap vs the SCSS version, but all you need to do is
replace the @xxxx variable name with $xxxx)
So with css in all of the code below it used #fff, but you can instead
use $white
*/


$grayMediumLight: #eaeaea;


/* universal */

html {
    overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
/* sass allows nesting of these .center rulse
.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spaceing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spaceing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

/* footer */
/* major consOlidation over css, able to nest the a
footer, USE $xxx colors instead of #number colors (e.g.
$gray in place of #555)
*/
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
